<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Create user</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="js/ajaxCreateUser.js"></script>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.2.0/css/bootstrap.min.css"/>
</head>


<body>

<div style="min-height: 500px">
    <div>
        <h1>AJAX Example</h1>

        <div id="feedback"></div>

        <form id="formCRUD">
            <div >
                <label>Enter username</label>
                <div>
                    <input type="text" id="text"/>
                </div>
            </div>

             <div>
                <div>
                    <button type="submit" id="buttonAddUser">Add user</button>
                </div>

            </div>
        </form>
    </div>
</div>

</body>

</html>