<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Create user</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="js/user.js"></script>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.2.0/css/bootstrap.min.css"/>
</head>


<body>

<div style="min-height: 500px">
    <div>
        <h1>AJAX Example</h1>

        <div id="feedback"></div>

        <div >
            <label>Enter username</label>
            <div>
                <input type="text" id="text"/>
            </div>
        </div>

        <div>
            <div>
                <button onclick="add_user()" id="buttonAddUser">Add user</button>
            </div>
        </div>

    </div>
</div>

</body>

</html>
